#gamecontainer {
	width: 90%;
	height: 90%;
	margin: auto;
	background-color: lavender;
	padding: 100px;
	/*display: inline-flex;*/
}
#form{
	width: 50%;
	height: 50%;
	margin:auto;
	display: inline-block;
	background-color: blue;
}
#center {
	width: 50%;
	height: 50%;
	margin:auto;
	padding: 0px;
	
}
#player {
	display: flex;
	flex-direction: column;
	align-content: stretch;
}
img#diceClick {
	display: flex;
	flex-direction: column;
	margin: auto;
	visibility: hidden;
}