#gamecontainer {
	width: 90%;
	height: 90%;
	margin: auto;
	background-color: lavender;
	padding: 100px;
	/*display: inline-flex;*/
}
#form{
	width: 50%;
	height: 50%;
	margin:auto;
	display: inline-block;
	background-color: blue;
}
#center {
	width: 50%;
	height: 50%;
	margin:auto;
	padding: 0px;
		display: grid;
 
	grid-auto-columns: auto;
 
	grid-template-rows: repeat(3, 1fr);
 
	grid-gap: 1rem;

}
#player {
	display: flex;
	flex-direction: column;
	align-content: stretch;
}
img#diceClick {
	display: flex;
	flex-direction: column;
	margin: auto;
	visibility: hidden;
}
#stats{
	display: flex;
	flex-direction: column;
	margin: auto;
	visibility: hidden;

}
#gameOver {
	visibility: hidden;
	width: 90%;
	height: 90%;
	margin: auto;
	background-color: black
	padding: 100px;
}

#holder {
	display: grid;
 
	grid-template-columns: repeat(3, 1fr);
 
	grid-auto-rows: auto;
 
	grid-gap: 1rem;
	margin: auto;
 
}}